###> symfony/framework-bundle ###
APP_ENV=prod
APP_SECRET=changeme_generate_with_openssl_rand_hex_32
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://dbuser:dbpassword@database:3306/cookbook?serverVersion=9.5.0&charset=utf8mb4"
###< doctrine/doctrine-bundle ###

AWS_S3_KEY=your-aws-access-key-id
AWS_S3_SECRET=your-aws-secret-access-key
AWS_S3_REGION=eu-west-2
AWS_S3_BUCKET=your-s3-bucket-name

# Set to s3.storage to use S3, or default.storage for local uploads. Defaults to default.storage.
STORAGE_ADAPTER=s3.storage

ANTHROPIC_API_KEY=your-anthropic-api-key-here

GOODFOOD_API_URL_FORMAT=

###> symfony/routing ###
DEFAULT_URI=https://your-domain-or-ip
###< symfony/routing ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=1
###< symfony/messenger ###
